/*------------------------------------------------------------
                    Log In 
------------------------------------------------------------*/
.card {
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #654d47;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 40px;
    background-color: #961430;
    color: black;
    border:0 !important;
}

input:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #d16c82;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.footer--color {
    color: rgb(221, 255, 0);
}
/*------------------------------------------------------------
                    Forgot pass 
------------------------------------------------------------*/
.card-forgot {
    height: 290px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.forgot_btn {
    color: black;
    background-color: #d16c82;
    width: 360;
    margin-left: 100px;
}

.forgot_btn:hover {
    color: black;
    background-color: white;
}
/*------------------------------------------------------------
                     Sign In
------------------------------------------------------------*/
.card-signIn {
    height: 450spx;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.input-fullname {
    width: 360;
    margin-bottom: 10px;
}

.input-sec-infor {
    width: 360;
}

.input-user-infor {
    display: flex;
    flex-direction: column;
    width: 360;
}

.input-group-prepend-signIn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.input-group-prepend-signIn span{
    width: 40px;
    background-color: #961430;
    color: black;
    border:0 !important;
}

.input-group-prepend-signIn--head {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-group-prepend-signIn--head span{
    width: 40px;
    background-color: #961430;
    color: black;
    border: 0 !important;
}

.signIn_btn {
    display: flex;
    color: black;
    background-color: #d16c82;
    width: 100px;
    margin-left: 260px;
    margin-top: 30px;
}

.signIn_btn:hover {
    color: black;
    background-color: white;
}

